<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEALTHY EATING – GOOD HABIT OR NEW DISASTER?</title>
    <link rel="stylesheet" href="css/Post-3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
  <body>
      <section class="site-title">
            <p class="site-title__header">Enjoy The Silence</p>
            <i class="site-title__subheader">Eva's blog</i>
      </section>
      <header class="top-menu">  
        <nav>
            <ul>
                <li class="top-menu__item">
                    <i class="fas fa-bars"></i>
                </li>
                <li class="top-menu__item">
                    <a href="index.php">home</a>
                </li>
                <li class="top-menu__item">
                    <a href="#">All posts</a>
                </li>
                <li class="top-menu__item">
                    <a href="#">about</a>
                </li>
                <li class="top-menu__item">
                    <a href="#">contact</a>
                </li>
                <?php if (!isset($_SESSION['username'])){ ?>
                    <li class="top-menu__item">
                        <a href="Registration">Authorization</a>
                    </li>

                <?php } elseif (isset($_SESSION['username'])){ ?>
                    <li class="top-menu__item">
                        <a href="#"><?php print $_SESSION["username"] ?></a>
                    </li>
                    <li class="top-menu__item">
                        <a href="Logout">Log out</a>
                    </li>
                <?php }; ?>
                <li class="top-menu__item">
                    <i class="fas fa-search"></i>
                </li>
                <li class="top-menu__item">
                    <section class="top-menu__items--links">
                        <a class="fab fa-telegram"></a>
                        <a class="fab fa-instagram" href="https://www.instagram.com/ewagulida/"></a>
                        <a class="fab fa-facebook" href="https://www.facebook.com/ewa.gulida/"></a>
                        <a class="fab fa-pinterest"></a>
                    </section>
                </li>
            </ul>
        </nav>    
      </header>
      <figure class="head-photo">
        <img src="img/food-5.jpg">
      </figure>
      <section class="main">
        <p class="main__title">HEALTHY EATING – GOOD HABIT OR NEW DISASTER?</p>
        <p class="main__date">7 JUNE 2015</p>
        <article class="main__1">
            <p>Today it’s highly popular to eat healthy, to use lots of different superfoods, drink smoothies and green juices and to regularly detox. Personally I consider myself to be one of “healthy-superfood-freaks”. But before I start telling you my story (that will come in several posts), I want to talk about the reasons behind all this hipe. Did we suddenly realise that for the last several decades we were eating lots of crap? Did people who were growing up with ideals of Kate Moss body become adults and decide to change the fashion? Or maybe all the popularity of fitness models (aka Miranda Kerr, Candise Swanepoel and other VS models) bring out our love for sport and healthy eating?</p>
        </article>
        <img src="img/food-6.jpg">
        <article>
            <p>
                We all are different and we all have different reasons behind our decisions. And eventually all the “healthy” hipe is a good thing. But the worst enemy of good is better. And even from something so amazing grew a new monster – the so called orthorexia. For those who haven’t heard about it – it is an eating disorder characterized by an extreme or excessive preoccupation with avoiding foods perceived to be unhealthy. WHAT?
            </p>
        </article>
        <img src="img/food-1.jpg">
        <article>
            <p>
                    In 2009, Ursula Philpot, chair of the <a href="https://en.wikipedia.org/wiki/British_Dietetic_Association">British Dietetic Association</a> and senior lecturer at <a href="https://en.wikipedia.org/wiki/Leeds_Beckett_University">Leeds Metropolitan University</a>, described people with orthorexia to <a href="https://en.wikipedia.org/wiki/The_Guardian">The Guardian</a> as being “solely concerned with the quality of the food they put in their bodies, refining and restricting their diets according to their personal understanding of which foods are truly ‘pure’.” This differs from other eating disorders, such as anorexia and bulimia, whereby people focus on the quantity of food eaten.
                    Can you believe it? In our constant pursue of some media-created ideals we actually turn something that is solely good for us in a new disorder. I always wonder how does it happen. Where exactly is this turning point when mindful eating becomes a new obsession…
            </p>
        </article>
        <img src="img/food-3.jpg">
     </section>
        <footer class="footer">
        <section class="older-posts">
            <input type="button" value="HOME"></input>
            <a href="MainPage.html"></a>
        </section>
        <section class="body-bottom">
            <section class="body-bottom__snapchat">
                <div class="body-bottom__snapchat--line">
                    <span>SNAPCHAT</span>
                </div>
                <img src="img/snapchat.jpg">
            </section>
            <section class="body-bottom__follow">
                <div class="body-bottom__follow--line">
                    <span>FOLLOW</span>
                </div>
                <section class="social-networks">
                    <section class="social-networks__first">
                        <a class="fab fa-twitter"></a>
                        <a class="fab fa-instagram"></a>
                        <a class="fab fa-facebook"></a>
                    </section>
                    <section class="social-networks__first-names">
                        <span>TWITTER</span>
                        <span>INSTAGRAM</span>
                        <span>FACEBOOK</span>
                    </section>
                    <section class="social-networks__second">
                        <a class="fab fa-pinterest"></a>
                        <a class="fab fa-youtube"></a>
                        <a class="fab fa-snapchat"></a>
                    </section>
                    <section class="social-networks__second-names">
                            <span>PINTEREST</span>
                            <span>YOUTUBE</span>
                            <span>SNAPCHAT</span>
                        </section>
                </section>
            </section>
            <section class="body-bottom__follow">
                    <div class="body-bottom__follow--line">
                            <span>ENJOY THE SILENCE</span>
                    </div>
                    <section class="body-bottom__follow--content">
                        <span>Sign up here for a weekly catch up of everything EnjoyTheSilence</span>
                        <input type="email" placeholder="Your email..." class="email">
                        <input type="button" value="SUBSCRIBE" class="btn-subscribe">
                    </section>
            </section>
        </section>
        <p class="site-footer">© 2019 EnjoyTheSilence</p>  
        <figure class="footer__pictures">
            <img src="img/cookie.jpg">
            <img src="img/ewa-2.jpg">
            <img src="img/piones.jpg">
            <img src="img/view.jpg">
            <img src="img/ewa-4.jpg">
        </figure>  
        <p>Design by Marta Gulida</p>
      </footer>
  </body>
</html>